
/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');



/*Global styles*/


*{
    box-sizing: border-box;;
}

a{
    text-decoration: none;
    color:inherit;
}

a:hover{
    text-decoration: none;
    color:inherit;
}

body{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}


.btn{
    display:inline-block;
    border:2px solid #545454;
    border-radius:5px;
    text-transform:uppercase;
    font-weight:700;
    color:#545454;
}


.my-heading{
    position: relative;
    padding-bottom:0.75em;
    margin-bottom:0.65em;
}

.my-heading::after{
    content : '';
    position:absolute;
    left:0;
    right:0;
    width:10%;
    height:3px;
    background:#804922;
    bottom:0;
    margin:auto;
}

.card-1{
    border-radius: 20px;
    text-align: center;
    padding-top:2em;
    padding-bottom:2em;
    color:#fff;
    margin-bottom:1em;
    margin-top:1em;
}

.card-1 i{
    margin-bottom:0.25em;
}

.heroyt .card-1{
    background:#fff;
    color:#ff3728;
    box-shadow:0px 4px 15px rgba(0,0,0,0.07);
}


/*top bar*/

.topbar{
    background : #d8926d;
    color:#fff;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

.topbar ul{
    margin:0.5em 0;
}

.topbar li {
    display:inline-block;
    padding:0em 1em;
    border-right:1px solid #fff;
    font-size:10px;
}

.topbar li:last-child{
    border-right:none;
}

.topbar li a{
    transition:color 300ms ease 0s;
}

.topbar li a:hover {
    color:#eeeeee  ;
}

@media only screen and (max-width:992px){
    .topbar {
        text-align: center;
    }
    .topbar ul{
        padding-left:0em;
    }
    .topbar li{
        padding:0em 1em;
    }
}

/*navigation bar*/

.navbar{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    background:#fff!important;
    padding-left:2em!important;
    padding-right:2em!important;
    box-shadow:0px 4px 15px rgba(0,0,0,0.07);
}

.navbar img{
    max-width:150px;
}

.navbar .navbar-nav{
    text-transform:capitalize;
}

.navbar .nav-link{
    font-weight: 500;
    color:#555454
}

.navbar .nav-link.active{
    border-bottom:2px solid #ff3728;
}

@media only screen and (max-width:992px){
    .navbar img{
        max-width:125px;
    }
    .navbar .nav-link{
        font-size:11px;
    }
}

@media only screen and (max-width:672px){
    .navbar img{
        max-width:60px;
    }
    .navbar .nav-link{
        font-size:10px;
    }
}

@media only screen and (max-width:576px){
    .navbar .nav-link.active{
        border-bottom:none;
    }
}


/*Slider*/

.carousel-inner{
    position: relative;
    height:600px;
    width:100%;
}

.carousel .carousel-item{
    position: relative;
    width:100%;
    height:100%;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}

.carousel .carousel-caption{
    text-align: left;
    left:3.5em;
    padding-top:0;
    bottom:3.5em;
}

/*intro section*/

.intro{
    padding-top:3em;
    padding-bottom:3em;
}

.intro h4{
    color:#00538f;
}

.intro h2{
    color:#545454;
}

.intro h2 span{
    color:#ff3728;
}

.intro h4 , .intro h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.intro p{
    text-align: center;
    font-style: italic;
    margin-bottom:1.5em;
}

.intro h6{
    text-transform: capitalize;
    font-weight:400;
}

.intro h3{
    text-transform: uppercase;
    font-weight:600;
}


/*hero youtube*/

.heroyt {
    background:linear-gradient(120deg,#f57269,#ff4438);
    color:#fff;
    padding-top:4em;
    padding-bottom:4em;
}

.heroyt h4 , .heroyt h2{
    text-transform: uppercase;
    font-weight: 600;
}

.heroyt .my-heading::after{
    right: auto;
    left:0%;
    background:#eee
}

.heroyt h4{
    color:#005966;
}

.heroyt p{
    line-height:2.5em;
    font-size:14px
}

.heroyt img{
    margin-top:3em;
}