
/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');



/*Global styles*/


*{
    box-sizing: border-box;
    scroll-behavior:smooth;
}

a{
    text-decoration: none;
    color:inherit;
}

a:hover{
    text-decoration: none;
    color:inherit;
}

body{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

.pd44{
    padding-top:4em;
    padding-bottom:2em;
}

.btn{
    display:inline-block;
    border:2px solid #545454;
    border-radius:5px;
    text-transform:uppercase;
    font-weight:700;
    color:#545454;
}


.my-heading{
    position: relative;
    padding-bottom:0.75em;
    margin-bottom:0.65em;
}

.my-heading::after{
    content : '';
    position:absolute;
    left:0;
    right:0;
    width:10%;
    height:3px;
    background:#804922;
    bottom:0;
    margin:auto;
}

.card-1{
    border-radius: 20px;
    text-align: center;
    padding-top:2em;
    padding-bottom:2em;
    color:#fff;
    margin-bottom:1em;
    margin-top:1em;
}

.card-1 i{
    margin-bottom:0.25em;
}

.heroyt .card-1{
    background:#fff;
    color:#ff3728;
    box-shadow:0px 4px 15px rgba(0,0,0,0.07);
}


.dh4 , .dh2{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}


.dh4{
    color:#00538f
}

.dh2{
    color:#545454
}

.my-red{
    color : #ff3728;
}

.pd-btm{
    padding-bottom:4em;
}


/*top bar*/

.topbar{
    background : #d8926d;
    color:#fff;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

.topbar ul{
    margin:0.5em 0;
}

.topbar li {
    display:inline-block;
    padding:0em 1em;
    border-right:1px solid #fff;
    font-size:10px;
}

.topbar li:last-child{
    border-right:none;
}

.topbar li a{
    transition:color 300ms ease 0s;
}

.topbar li a:hover {
    color:#eeeeee  ;
}

@media only screen and (max-width:992px){
    .topbar {
        text-align: center;
    }
    .topbar ul{
        padding-left:0em;
    }
    .topbar li{
        padding:0em 1em;
    }
}

/*navigation bar*/

.navbar{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    background:#fff!important;
    padding-left:2em!important;
    padding-right:2em!important;
    box-shadow:0px 4px 15px rgba(0,0,0,0.07);
}

.navbar img{
    max-width:150px;
}

.navbar .navbar-nav{
    text-transform:capitalize;
}

.navbar .nav-link{
    font-weight: 500;
    color:#555454
}


.navbar .dropdown-item{
    font-family: 'Open sans',Arial, Helvetica, sans-serif;
    padding-top:1em;
    padding-bottom:1em;
    font-weight: 500;
    text-transform: uppercase;
    color:#545454;
    font-size:12px;
    font-weight: 600;
}


.navbar .nav-link.active{
    border-bottom:2px solid #ff3728;
}

.dropleft .dropdown-toggle::before{
    display: none!important;
}


.dropleft .dropdown-toggle::after{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}

@media only screen and (max-width:992px){
    .navbar img{
        max-width:125px;
    }
    .navbar .nav-link{
        font-size:11px;
    }
}

@media only screen and (max-width:672px){
    .navbar img{
        max-width:60px;
    }
    .navbar .nav-link{
        font-size:10px;
    }
}

@media only screen and (max-width:576px){
    .navbar .nav-link.active{
        border-bottom:none;
    }
}


/*Slider*/

.carousel-inner{
    position: relative;
    height:500px;
    width:100%;
}

.carousel .carousel-item{
    position: relative;
    width:100%;
    height:100%;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}


@media only screen and (max-width:991px){
    .carousel-inner{
        height:300px;
    }
}

@media only screen and (max-width:600px){
    .carousel-inner{
        height:200px;
    }
}

@media only screen and (max-width:400px){
    .carousel-inner{
        height:180px;
    }
}




.carousel .carousel-caption{
    text-align: left;
    left:3.5em;
    padding-top:0;
    bottom:3.5em;
}

/*intro section*/

.intro{
    padding-top:3em;
    padding-bottom:3em;
}

.intro h4{
    color:#00538f;
}

.intro h2{
    color:#545454;
}

.intro h2 span{
    color:#ff3728;
}

.intro h4 , .intro h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.intro p{
    text-align: center;
    font-style: italic;
    margin-bottom:1.5em;
}

.intro h6{
    text-transform: capitalize;
    font-weight:400;
}

.intro h3{
    text-transform: uppercase;
    font-weight:600;
}


/*hero youtube*/

.heroyt {
    background:linear-gradient(120deg,#f57269,#ff4438);
    color:#fff;
    padding-top:4em;
    padding-bottom:4em;
}

.heroyt h4 , .heroyt h2{
    text-transform: uppercase;
    font-weight: 600;
}

.heroyt .my-heading::after{
    right: auto;
    left:0%;
    background:#eee
}

.heroyt h4{
    color:#005966;
}

.heroyt p{
    line-height:2.5em;
    font-size:14px
}

.heroyt img{
    margin-top:3em;
}

@media only screen and (max-width:600px){
    .heroyt img{
        max-width:300px
    }
}

/*why us*/

.whyus{
    text-align: center;
    padding-top:3em;
    padding-bottom:3em;
}

.whyus h4 , .whyus h2{
    text-transform: uppercase;
    font-weight: 600;
}

.whyus h4{
    color:#00538f;
}
.whyus h2 span{
    color:#00e7a3;
}

.whyus .my-heading::after{
    background:#ffcca8;
}

.whyus .card-1{
    text-transform: capitalize;
    padding:2.5em 1em;
    height:90%;
   
}

.whyus .card-1 h5{
    font-size:24px;
    margin-bottom:1em;
    font-weight: 700;
}

.whyus .card-1 p{
    font-size:12px;
}

/*footer*/

footer{
    background:#2b2b2b;
    color:#fff;
    text-align:center;
    text-transform: capitalize;
    padding-top:3em;
    padding-bottom:2em;
    position:relative;
    border-top:5px solid #ff4438;
}

footer a{
    margin:0em 0.5em;
}

footer p{
    font-weight:300;
    margin-top:1em;
    margin-bottom:1.5em;
}

footer h6{
    text-transform:uppercase;
    letter-spacing: 5px;
}

footer > span{
    background:#ff4438;
    position:absolute;
    top:-22px;
    left:50%;
    transform:translateX(-50%);
    padding:0.5em 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius:5px;
}

/*testimonails*/

.testimonials{
    color:#fff;
    padding-top:4em;
    padding-bottom:4em;
    background-repeat: no-repeat;
    background-position: bottom left;
    position: relative;
}

.testimonials::after{
    content : '';
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:linear-gradient(120deg,#146575,#112f35);
    z-index: -1;
}


.testimonials h4{
    color : #00a2a6;
}

.testimonials h4 , .testimonials h2{
    font-weight: 600;
    text-transform:uppercase;
    text-align: center;
}

.testimonials h2{
    margin-bottom:2em;
}

.testimonials .my-heading::after{
    background : #ffcca8;
}

#testimonial .carousel-caption{
    width:100%;
    left:0;
    top:0;
}

#testimonial .carousel-inner{
   min-height: 600px!important;
}

#testimonial .carousel-caption p {
    font-family:'Open sans',Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight:300;
    line-height: 3em;
    letter-spacing: 0.01em;
    word-spacing: 0.2em;
    text-align: center;
    position: relative;
    padding-bottom:4em;
}

#testimonial .carousel-caption p::after{
    content : '';
    position:absolute;
    width:40%;
    height:2px;
    background:#fff;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

.testimonials  .person{
    position:absolute;
    width:100%;
    height:auto;
    margin-top:2em;
    left:35%;
}

.testimonials .person .person-image{
    display: inline-block;
    position:relative;
    width:100px;
    height:100px;
    background:#fff;
    border-radius: 50%;
}

.testimonials .person .person-name{
    font-weight: 600;
    vertical-align: top;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    padding-left:1em;
    font-size:25px;
}


@media only screen and (max-width:992px){
    .testimonials .carousel-inner{
        height: 800px;
    }
    .testimonials  .person{
        left:30%
    }
}

@media only screen and (max-width:600px){
    .testimonials  .person{
        left:0;
    }
    #testimonial .carousel-caption p::after{
        right:unset;
        left:0;
        width:100%
    }
    #testimonial .carousel-caption p{
        text-align: left;;
    }
    #testimonial .carousel-inner{
        height:900px
    }

}


/*refund policy*/


.refund  .card-1{
    padding:2.5em 2em;
}

.refund  .card-1 p{
    font-size:12px;
}

/*privacy policy*/
/* faq */
/*terms & conditions*/
/*pricing*/

.terms , .faq  , .privacy-policy , .pricing{
    padding-top:4em;
    padding-bottom:4em;
}

/*accordion */

.faq #accordion , #accordion1 ,  #accordion2 , #insta-gain-follower-accordion{
    margin-bottom:2em;
}

.faq #accordion .card ,  #accordion1 .card ,  #accordion2 .card , #insta-gain-follower-accordion .card{
    margin-top:1em;
    margin-bottom:1em;
}

.faq #accordion .card .card-header ,  #accordion1 .card .card-header , #accordion2 .card .card-header,
#insta-gain-follower-accordion .card-header{
    font-weight: 600;
}

/*pricing card*/

.pricing-card{
    margin-top:0em;
    margin-bottom:2em;
    padding:3em 3em;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 20px #eee, 0 6px 6px #eee;
    background : #ff9b00;
    color:#fff;
}


.youtube .pricing-card{
    background : linear-gradient(120deg,#e83325,#ff3728);
}

.soundcloud .pricing-card{
    background : linear-gradient(120deg,#ff8112,#ff7700) 
}

.spotify .pricing-card{
    background : linear-gradient(120deg,#2dba5f,#1DB954) 
}

.facebook .pricing-card{
    background : linear-gradient(120deg,#4279c2,rgb(44, 90, 152)) 
}

.twitter .pricing-card{
    background : linear-gradient(120deg,#3b98d1,#1DA1F2) 
}

.instagram .pricing-card{
    background : linear-gradient(120deg,#dd2a7b,#8134af ) 
}

.youtube .dh4{
    margin-top:2em;
}


#insta-gain-follower-accordion{
    margin-bottom:5em;
}

.pricing-card h5{
    text-transform: uppercase;
    font-size:12px;
    margin-top:1em;
    color:rgba(255,255,255,0.8);
}


.pricing-card h4{
    margin-top:0.5em;
    margin-bottom:0.5em;
    font-size:36px;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-card h4 .usd{
    font-size:22px!important;
    position: relative;
    top:-20px;
    color:rgba(255,255,255,0.8);
    font-weight: 300;
}

.pricing-card ul{
    padding-left:0!important;
    list-style:none;
}

.pricing-card ul li{
    border-bottom: 2px solid rgba(255,255,255,0.5);
    padding-top:1em;
    padding-bottom:1em;
    font-weight: 500;
    text-transform: uppercase;
    font-size:14px;
}


.pricing-card p{
    font-weight: 500;
    text-transform: uppercase;
    font-size:14px
}

.pricing-card input{
    position: relative;
    border:none;
    padding:0.5em 1em;
    background:#fff;
    border-radius: 5px;
    margin-bottom:1.5em;
    display:block;
    left:50%;
    transform:translateX(-50%)
}

.pricing-card a{
    text-transform: uppercase;
    border:2px solid #fff;
    padding:0.5em 2.5em;
    font-weight: 600;
    letter-spacing: 1px;
    background:transparent;
    color:#fff;
    border-radius: 10px;
    transition:background 100ms ease 0s , color 100ms ease 0s;
}

.pricing-card a:hover{
    background:#fff;
    color:#ff9b00;
}

@media only screen and (max-width:768px){
    .pricing-box{
        padding-left:0em!important;
        padding-right:0em!important;
    }
}

.owl-nav.disabled , .owl-dots.disabled{
    display:block!important;
}

