
/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');



/*Global styles*/


*{
    box-sizing: border-box;;
}

a{
    text-decoration: none;
    color:inherit;
}

a:hover{
    text-decoration: none;
    color:inherit;
}



/*top bar*/

.topbar{
    background : #d8926d;
    color:#fff;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

.topbar ul{
    margin:0.5em 0;
}

.topbar li {
    display:inline-block;
    padding:0em 1em;
    border-right:1px solid #fff;
    font-size:10px;
}

.topbar li:last-child{
    border-right:none;
}

.topbar li a{
    transition:color 300ms ease 0s;
}

.topbar li a:hover {
    color:#eeeeee  ;
}

@media only screen and (max-width:992px){
    .topbar {
        text-align: center;
    }
    .topbar ul{
        padding-left:0em;
    }
    .topbar li{
        padding:0em 1em;
    }
}

/*navigation bar*/

.navbar{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    background:#fff!important;
    padding-left:2em!important;
    padding-right:2em!important;
    box-shadow:0px 4px 15px rgba(0,0,0,0.07);
}

.navbar img{
    max-width:150px;
}

.navbar .navbar-nav{
    text-transform:capitalize;
}

.navbar .nav-link{
    font-weight: 500;
    color:#555454
}

.navbar .nav-link.active{
    border-bottom:2px solid #ff3728;
}

@media only screen and (max-width:992px){
    .navbar img{
        max-width:125px;
    }
    .navbar .nav-link{
        font-size:11px;
    }
}

@media only screen and (max-width:672px){
    .navbar img{
        max-width:60px;
    }
    .navbar .nav-link{
        font-size:10px;
    }
}

@media only screen and (max-width:576px){
    .navbar .nav-link.active{
        border-bottom:none;
    }
}